<app-bread-crumb
    [items]="[{text: 'Categorias', link: '/categorias'}, {text: pageTitle}]"
></app-bread-crumb>

<app-page-header 
    [page-title]="pageTitle"
    button-text="< Voltar"
    button-class="btn-light"
    button-link="/categorias"
></app-page-header>

<form [formGroup]="resourceForm" (ngSubmit)="submitForm()">

    <div class="card">
        <div class="card-header">
            Informações sobre a categoria
        </div>

        <div class="card-body">
            <div class="input-group">
                <div class="form-group col-md-4">
                    <label for="nome">Nome</label>
                    <input type="text" class="form-control" id="nome" formControlName="nome">
                    
                    <div class="text-danger" *ngIf="resourceForm.get('nome')?.invalid && resourceForm.get('nome')?.touched">
                        <div *ngIf="resourceForm.get('nome')?.errors?.['required']">dado obrigatorio</div>
                        <div *ngIf="resourceForm.get('nome')?.errors?.['minlength']">deve ter no minimo 2 caracteres</div>
                    </div>
                </div>

                <div class="form-group col-md-7 ms-3">
                    <label for="descricao">Descrição</label>
                    <input type="text" class="form-control" id="descricao" formControlName="descricao">
                </div>
            </div>
        </div>
    </div>

    <div class="alert alert-danger mt-4" *ngIf="serverErrorMessage">
        <strong>Erro no servidor:</strong>
        <ul>
            <li *ngFor="let error of serverErrorMessage">{{error}}</li>
        </ul>
    </div>

    <button [disabled]="submittingForm || resourceForm.invalid" type="submit" class="btn btn-primary btn-lg mt-3 float-end">Salvar</button>

</form>