<app-bread-crumb [items]="[{text: 'Lançamentos', link: '/lancamentos'}, {text: pageTitle}]"></app-bread-crumb>

<app-page-header [page-title]="pageTitle" button-text="< Voltar" button-class="btn-light"
    button-link="/lancamentos"></app-page-header>

<form [formGroup]="resourceForm" (ngSubmit)="submitForm()">

    <div class="card">
        <div class="card-header">
            Informações sobre a lancamento
        </div>

        <div class="card-body">

            <div class="input-group mb-3">
                <!-- tipo -->
                <div class="form-group col-md-2 me-3">
                    <label for="tipo">Tipo</label>
                    <select name="tipo" id="tipo" formControlName="tipo" class="form-select">
                        <option *ngFor="let option of typesOptions" [ngValue]="option.value">{{ option.text }}</option>
                    </select>

                    <app-form-field-error [form-control]="resourceForm.get('tipo')"></app-form-field-error>
                </div>
                <!-- nome -->
                <div class="form-group col-md-4 me-3">
                    <label for="nome">Lançamento</label>
                    <input type="text" class="form-control" id="nome" formControlName="nome">

                    <app-form-field-error [form-control]="resourceForm.get('nome')"></app-form-field-error>

                </div>
                <!-- valor -->
                <div class="form-group col-md-3 me-3">
                    <label for="valor">Valor</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">R$</div>
                        </div>
                        <input [imask]="imaskConfig" type="text" class="form-control text-end" id="valor"
                            formControlName="valor">
                    </div>
                    <app-form-field-error [form-control]="resourceForm.get('valor')"></app-form-field-error>
                </div>
                <!-- data -->
                <div class="form-group col-md-2">
                    <label for="nome">Data</label>
                    <p-calendar id="data" formControlName="data" inputStyleClass="form-control" dataType="string"
                        dateFormat="dd/mm/yy" [locale]="ptBR" [showButtonBar]="true">
                    </p-calendar>

                    <app-form-field-error [form-control]="resourceForm.get('data')"></app-form-field-error>
                </div>
            </div>

            <div class="input-group">
                <!-- Pago -->
                <div class="form-group col-md-2">
                    <label for="pago">--Pago--</label>
                    <div class="btn-group" role="group">
                        <input [checked]="resourceForm.get('pago')?.value === true" type="radio" class="btn-check"
                            name="btnradio" id="btnradio1" autocomplete="off">
                        <label (click)="resourceForm.get('pago')?.setValue(true)" class="btn btn-outline-primary"
                            for="btnradio1">Pago</label>

                        <input [checked]="resourceForm.get('pago')?.value === false" type="radio" class="btn-check"
                            name="btnradio" id="btnradio2" autocomplete="off">
                        <label (click)="resourceForm.get('pago')?.setValue(false)" class="btn btn-outline-primary"
                            for="btnradio2">Pendente</label>
                    </div>

                    <app-form-field-error [form-control]="resourceForm.get('pago')"></app-form-field-error>
                </div>

                <!-- categoriaId -->
                <div class="form-group col-md-3 me-3">
                    <label for="categoriaId">Categoria</label>
                    <select name="categoriaId" id="categoriaId" formControlName="categoriaId" class="form-select">
                        <option *ngFor="let category of categories" value="{{category.id}}">{{category.nome}}</option>
                    </select>
                    <app-form-field-error [form-control]="resourceForm.get('categoriaId')"></app-form-field-error>
                </div>

                <!-- descricao -->
                <div class="form-group col-md-6">
                    <label for="descricao">Descrição</label>
                    <input type="text" class="form-control" id="descricao" formControlName="descricao">
                </div>
            </div>
        </div>
    </div>

    <app-server-error-messagens [server-error-messagens]="serverErrorMessage"></app-server-error-messagens>
    
    <button [disabled]="submittingForm || resourceForm.invalid" type="submit"
        class="btn btn-primary btn-lg mt-3 float-end">Salvar</button>

</form>