<app-bread-crumb
    [items]="[{text: 'Lançamentos', link: '/lancamentos'}, {text: pageTitle}]"
></app-bread-crumb>

<app-page-header 
    [page-title]="pageTitle"
    button-text="< Voltar"
    button-class="btn-light"
    button-link="/lancamentos"
></app-page-header>

<form [formGroup]="resourceForm" (ngSubmit)="submitForm()">

    <div class="card">
        <div class="card-header">
            Informações sobre a lancamento
        </div>

        <div class="card-body">

            <div class="input-group mb-3">
                <!-- tipo -->
                <div class="form-group col-md-2 me-3">
                    <label for="tipo">Tipo</label>
                    <select name="tipo" id="tipo" formControlName="tipo" class="form-select">
                        <option *ngFor="let option of typesOptions" [ngValue]="option.value">{{ option.text }}</option>
                    </select>
                    <div class="text-danger" *ngIf="resourceForm.get('tipo')?.invalid && resourceForm.get('tipo')?.touched">
                        <div *ngIf="resourceForm.get('tipo')?.errors?.['required']">dado obrigatorio</div>
                    </div>
                </div>
                <!-- nome -->
                <div class="form-group col-md-4 me-3">
                    <label for="nome">Lançamento</label>
                    <input type="text" class="form-control" id="nome" formControlName="nome">

                    <div class="text-danger" *ngIf="resourceForm.get('nome')?.invalid && resourceForm.get('nome')?.touched">
                        <div *ngIf="resourceForm.get('nome')?.errors?.['required']">dado obrigatorio</div>
                        <div *ngIf="resourceForm.get('nome')?.errors?.['minlength']">deve ter no minimo 2 caracteres</div>
                    </div>
                </div>
                <!-- valor -->
                <div class="form-group col-md-3 me-3">
                    <label for="valor">Valor</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">R$</div>
                        </div>
                        <input [imask]="imaskConfig" type="text" class="form-control text-end" id="valor"
                            formControlName="valor">
                    </div>
                    <div class="text-danger" *ngIf="resourceForm.get('valor')?.invalid && resourceForm.get('valor')?.touched">
                        <div *ngIf="resourceForm.get('valor')?.errors?.['required']">dado obrigatorio</div>
                    </div>
                </div>
                <!-- data -->
                <div class="form-group col-md-2">
                    <label for="nome">Data</label>
                    <p-calendar id="data" formControlName="data" inputStyleClass="form-control" dataType="string"
                        dateFormat="dd/mm/yy" [locale]="ptBR" [showButtonBar]="true"></p-calendar>

                    <div class="text-danger" *ngIf="resourceForm.get('data')?.invalid && resourceForm.get('data')?.touched">
                        <div *ngIf="resourceForm.get('data')?.errors?.['required']">dado obrigatorio</div>
                    </div>
                </div>
            </div>

            <div class="input-group">
                <!-- Pago -->
                <div class="form-group col-md-2">
                    <label for="pago">--Pago--</label>
                    <div class="btn-group" role="group">
                        <input [checked]="resourceForm.get('pago')?.value === true" type="radio" class="btn-check"
                            name="btnradio" id="btnradio1" autocomplete="off">
                        <label (click)="resourceForm.get('pago')?.setValue(true)" class="btn btn-outline-primary"
                            for="btnradio1">Pago</label>

                        <input [checked]="resourceForm.get('pago')?.value === false" type="radio" class="btn-check"
                            name="btnradio" id="btnradio2" autocomplete="off">
                        <label (click)="resourceForm.get('pago')?.setValue(false)" class="btn btn-outline-primary"
                            for="btnradio2">Pendente</label>
                    </div>

                    <div class="text-danger" *ngIf="resourceForm.get('pago')?.invalid && resourceForm.get('pago')?.touched">
                        <div *ngIf="resourceForm.get('pago')?.errors?.['required']">dado obrigatorio</div>
                    </div>
                </div>

                <!-- categoriaId -->
                <div class="form-group col-md-3 me-3">
                    <label for="categoriaId">Categoria</label>
                    <select name="categoriaId" id="categoriaId" formControlName="categoriaId" class="form-select">
                        <option *ngFor="let category of categories" value="{{category.id}}">{{category.nome}}</option>
                    </select>
                    <div class="text-danger"
                        *ngIf="resourceForm.get('categoriaId')?.invalid && resourceForm.get('categoriaId')?.touched">
                        <div *ngIf="resourceForm.get('categoriaId')?.errors?.['required']">dado obrigatorio</div>
                    </div>
                </div>

                <!-- descricao -->
                <div class="form-group col-md-6">
                    <label for="descricao">Descrição</label>
                    <input type="text" class="form-control" id="descricao" formControlName="descricao">
                </div>
            </div>
        </div>
    </div>

    <div class="alert alert-danger mt-4" *ngIf="serverErrorMessage">
        <strong>Erro no servidor:</strong>
        <ul>
            <li *ngFor="let error of serverErrorMessage">{{error}}</li>
        </ul>
    </div>

    <button [disabled]="submittingForm || resourceForm.invalid" type="submit"
        class="btn btn-primary btn-lg mt-3 float-end">Salvar</button>

</form>