<nav class="mb-5">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item active">Lançamentos</li>
    </ol>
</nav>

<div class="row mb-4">
    <div class="col-md">
        <h1 class="h2 border-start ps-2">
            Lançamentos
        </h1>
    </div>
    <div class="col-md d-flex align-items-center justify-content-end">
        <a routerLink="new" class="btn btn-success">
            + Novo Lançamento
        </a>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr class="bg-primary text-light">
            <th>Lançamento</th>
            <th>Categoria</th>
            <th>Valor R$</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let entry of resources">
            <td>
                <strong>{{entry.nome}}</strong><br>
                <small class="text-success">{{entry.data}}</small><br>
                <small *ngIf="entry.descricao">{{entry.descricao}}</small>
            </td>
            <td>
                {{entry.categoria?.nome}}
            </td>
            <td>
                <strong [class.text-success]="entry.tipo === 'renevue'" [class.text-danger]="entry.tipo === 'expense'">
                    {{entry.valor}}
                </strong>
                <br>
                <span class="badge text-success">{{entry.paidText}}</span>
            </td>
            <td>
                <a [routerLink]="[entry.id, 'edit']" class="btn btn-outline-info btn-sm">Editar</a>
                <button (click)="deleteResources(entry)" class="btn btn-outline-danger btn-sm ms-2">Excluir</button>
            </td>
        </tr>
    </tbody>
</table>